#foxfire-container {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    &.hidden {
        opacity: 0;
        transition: opacity 0.5s;
    }

    div {
        position: fixed;
        top: 0;
        left: 0;
        width: 20;
        height: 20;
        background-image: moz-extension://<extension-UUID>/images/firefox.png;
        background-size: cover;
        background-position-x: calc(-1 * 20);
        transition: transform 0.1s ease-out;

        &:first-child {
            background-image: moz-extension://<extension-UUID>/images/firefox.png;
        }

        :nth-child(2) {
             background-image: moz-extension://<extension-UUID>/images/firefox.png;
        }
    }
}